{
  "plugins": [
    "babel-plugin-transform-flow-strip-types",
    "babel-plugin-transform-es2015-arrow-functions",
    "babel-plugin-transform-es2015-template-literals",
    "babel-plugin-transform-es2015-classes",
    "babel-plugin-transform-es2015-block-scoping",
    "babel-plugin-transform-es2015-shorthand-properties",
    "babel-plugin-transform-es2015-destructuring",
    "babel-plugin-transform-es2015-parameters"
  ]
}
